In [13]:
#Case Study A: Employee Skill Tracker (HR Data Filtering)##
employees = {}

n = int(input("Enter number of employees: "))

for _ in range(n):
    name = input("Enter employee name: ")
    skills = input("Enter skills separated by commas: ").split(",")
    employees[name] = set(skill.strip() for skill in skills)

print("\nEmployees who know both Python and SQL:")
for name, skills in employees.items():
    if "Python" in skills and "SQL" in skills:
        print(name)

all_skills = set()
for skills in employees.values():
    all_skills.update(skills)

print("\nUnique skills across all employees:")
print(all_skills)

target = input("\nEnter employee name to compare skills: ")
target_skills = employees.get(target, set())

count = 0
for name, skills in employees.items():
    if name != target and target_skills & skills:
        count += 1

print("Number of employees sharing at least one skill with", target, ":", count)

Enter number of employees:  3
Enter employee name:  AVYAY
Enter skills separated by commas:  Python,SQL,html,css
Enter employee name:  ARYA
Enter skills separated by commas:  Python,SQL,Java
Enter employee name:  ARYAN
Enter skills separated by commas:  html,css

Employees who know both Python and SQL:
AVYAY
ARYA

Unique skills across all employees:
{'Java', 'html', 'css', 'Python', 'SQL'}

Enter employee name to compare skills:  AVYAY

Number of employees sharing at least one skill with AVYAY : 2

In [18]:
#Case Study B: Product Inventory Analyzer (Warehouse Comparison)
Warehouse1=[]
for _ in range(int(input("Enter number of products in Warehouse 1: "))):
    Warehouse1.append((
        input("Product ID: "),
        input("Product Name: "),
        int(input("Quantity: "))
    ))
Warehouse2=[]
for _ in range(int(input("Enter number of products in Warehouse 2: "))):
    Warehouse2.append((
        input("Product ID: "),
        input("Product Name: "),
        int(input("Quantity: "))
    ))

n1={i[1] for i in Warehouse1}
n2={i[1] for i in Warehouse2}

print("Common Products:")
print(*(n1 & n2),sep="\n")

print("Unique Products:")
print(*(n1 | n2),sep="\n")

print("All Products Sorted by Quantity:")
for i in sorted(Warehouse1+Warehouse2,key=lambda x:x[2],reverse=True):
    print(i)

Enter number of products in Warehouse 1:  2
Product ID:  1
Product Name:  Chair
Quantity:  25
Product ID:  2
Product Name:  Table
Quantity:  56
Enter number of products in Warehouse 2:  2
Product ID:  1
Product Name:  Chair
Quantity:  63
Product ID:  2
Product Name:  Fan
Quantity:  43

Common Products:
Chair
Unique Products:
Table
Chair
Fan
All Products Sorted by Quantity:
('1', 'Chair', 63)
('2', 'Table', 56)
('2', 'Fan', 43)
('1', 'Chair', 25)

In [11]:
#Case Study C: University Course Registration System
students = {}
n = int(input("Enter number of students: "))
for _ in range(n):
    name = input("Student name: ")
    courses = tuple(input("Enter courses separated by commas: ").split(","))
    students[name] = tuple(c.strip() for c in courses)

print("\nStudents enrolled in both Data Science and AI:")
for name, courses in students.items():
    if "Data Science" in courses and "AI" in courses:
        print(name)

all_courses = set()
for courses in students.values():
    all_courses.update(courses)

print("\nTotal unique courses:")
print(len(all_courses))

unique_only = set()
for course in all_courses:
    count = sum(course in courses for courses in students.values())
    if count == 1:
        unique_only.add(course)

print("\nCourses not repeated by any student:")
print(unique_only)

Enter number of students:  2
Student name:  avyay
Enter courses separated by commas:  Data Science, AI
Student name:  arya
Enter courses separated by commas:  Data Science,AI

Students enrolled in both Data Science and AI:
avyay
arya

Total unique courses:
2

Courses not repeated by any student:
set()

In [12]:
#Case Study D: Customer Purchase Insights (E-commerce Scenario)
records = []

n = int(input("Enter number of customers: "))
for _ in range(n):
    name = input("Customer name: ")
    products = input("Products purchased (comma separated): ").split(",")
    records.append((name, [p.strip() for p in products]))

all_products = set()
for r in records:
    all_products.update(r[1])

print("\nTotal unique products:")
print(len(all_products))

print("\nCustomers who purchased Laptop and Headphones:")
for name, products in records:
    if "Laptop" in products and "Headphones" in products:
        print(name)

freq = {}
for products in records:
    for p in products:
        freq[p] = freq.get(p, 0) + 1

max_freq = max(freq.values())
print("\nMost frequently purchased products:")
for k, v in freq.items():
    if v == max_freq:
        print(k)

Enter number of customers:  2
Customer name:  avyay
Products purchased (comma separated):  Laptop,Headphones
Customer name:  arya
Products purchased (comma separated):  Laptop ,Headphones

Total unique products:
2

Customers who purchased Laptop and Headphones:
avyay
arya

Most frequently purchased products:
Laptop
Headphones

In [4]:
#Case Study E: Travel Planner (Data Deduplication Challenge)
bookings = []

n = int(input("Enter number of bookings: "))
for _ in range(n):
    name = input("Traveler name: ")
    dest = input("Destination: ")
    date = input("Date: ")
    bookings.append((name, dest, date))

unique_bookings = set(bookings)
print("\nUnique bookings:")
print(unique_bookings)

destinations = [b[1] for b in unique_bookings]
print("\nUnique destinations:")
print(set(destinations))

freq = {}
for d in destinations:
    freq[d] = freq.get(d, 0) + 1

top3 = sorted(freq.items(), key=lambda x: x[1], reverse=True)[:3]
print("\nTop 3 destinations:")
print(top3)

Enter number of bookings:  2
Traveler name:  avyay
Destination:  pune
Date:  11/12/2026
Traveler name:  arya
Destination:  pune
Date:  7/8/25

Unique bookings:
{('avyay', 'pune', '11/12/2026'), ('arya', 'pune', '7/8/25')}

Unique destinations:
{'pune'}

Top 3 destinations:
[('pune', 2)]

In [5]:
#Case Study F: Student Attendance Analyzer
days = []

for i in range(5):
    students = set(input(f"Enter students present on Day {i+1} (comma separated): ").split(","))
    days.append(set(s.strip() for s in students))

present_all = set.intersection(*days)
print("\nStudents present every day:")
print(present_all)

all_students = set.union(*days)
absent_some = all_students - present_all

print("\nStudents absent on at least one day:")
print(absent_some)

print("\nTotal unique students:")
print(len(all_students))

Enter students present on Day 1 (comma separated):  2
Enter students present on Day 2 (comma separated):  3
Enter students present on Day 3 (comma separated):  4
Enter students present on Day 4 (comma separated):  2
Enter students present on Day 5 (comma separated):  2

Students present every day:
set()

Students absent on at least one day:
{'4', '2', '3'}

Total unique students:
3

In [6]:
#Case Study G: Movie Recommendation Tracker
users = {}

n = int(input("Enter number of users: "))
for _ in range(n):
    name = input("User name: ")
    movies = tuple(input("Favorite movies (comma separated): ").split(","))
    users[name] = tuple(m.strip() for m in movies)

print("\nUsers sharing at least two movies:")
names = list(users.keys())
for i in range(len(names)):
    for j in range(i+1, len(names)):
        if len(set(users[names[i]]) & set(users[names[j]])) >= 2:
            print(names[i], names[j])

all_movies = set()
for m in users.values():
    all_movies.update(m)

print("\nAll unique movies:")
print(all_movies)

single_user_movies = set()
for movie in all_movies:
    count = sum(movie in m for m in users.values())
    if count == 1:
        single_user_movies.add(movie)

print("\nMovies liked by only one user:")
print(single_user_movies)

Enter number of users:  2
User name:  avyay
Favorite movies (comma separated):  3 idiots
User name:  arya
Favorite movies (comma separated):  it

Users sharing at least two movies:

All unique movies:
{'it', '3 idiots'}

Movies liked by only one user:
{'it', '3 idiots'}

In [10]:
# Case Study H: Sports Event Participation Summary
participants = {}

n = int(input("Enter number of participants: "))
for _ in range(n):
    name = input("Participant name: ")
    sports = input("Sports (comma separated): ").split(",")
    participants[name] = [s.strip() for s in sports]

print("\nParticipants in both Cricket and Football:")
for name, sports in participants.items():
    if "Cricket" in sports and "Football" in sports:
        print(name)

all_sports = set()
for s in participants.values():
    all_sports.update(s)

print("\nTotal unique sports:")
print(len(all_sports))

freq = {}
for s in participants.values():
    for sport in s:
        freq[sport] = freq.get(sport, 0) + 1

max_count = max(freq.values())
top_sports = tuple(s for s, c in freq.items() if c == max_count)

print("\nSports with highest participation:")
print(top_sports)

Enter number of participants:  3
Participant name:  avyay
Sports (comma separated):  chess,ludo,cricket
Participant name:  arya
Sports (comma separated):  badminton,kho-kho,football
Participant name:  aryan
Sports (comma separated):  kabddi

Participants in both Cricket and Football:

Total unique sports:
7

Sports with highest participation:
('chess', 'ludo', 'cricket', 'badminton', 'kho-kho', 'football', 'kabddi')