In [30]:
#dictionary

student = {"id":1,"name":"alice","marks":79}
student

{'id': 1, 'name': 'alice', 'marks': 79}

In [31]:
type(student)

dict

In [32]:
"student name:",student["name"]

('student name:', 'alice')

In [33]:
#type 1 to access the key from the items
serach_values=79
key_with_value=[]
for key, value in student.items():
    if value==serach_values:
        key_with_value.append(key)
print("key for value",serach_values,":",key_with_value)

key for value 79 : ['marks']

In [34]:
#typ2 list comprehension
serach_values=79
key_with_values=[key for key , value in student.items() if value == serach_values]
print("list comprehnsion",key_with_values)

list comprehnsion ['marks']

In [35]:
student.update({"age":20})
student

{'id': 1, 'name': 'alice', 'marks': 79, 'age': 20}

In [36]:
student["city"] = ["pune"]
student

{'id': 1, 'name': 'alice', 'marks': 79, 'age': 20, 'city': ['pune']}

In [38]:
#add the item with known or countable index or keys
new_student={}

for key,value in student.items():
    new_student[key]=value
    if  key=="name":
        new_student["standard"]=8
print(new_student)

{'id': 1, 'name': 'alice', 'standard': 8, 'marks': 79, 'age': 20, 'city': ['pune']}

In [40]:
student = {'id': 1, 'name': 'alice', 'marks': 79, 'age': 20, 'city': ['pune']}
del student["city"]
student

{'id': 1, 'name': 'alice', 'marks': 79, 'age': 20}

In [43]:
students={
    101:{"name":"alice","age":20,"department":"it"},
    102:{"name":"bob","age":20,"department":"cs"},
    103:{"name":"joe","age":21,"department":"aids"}
}
students

{101: {'name': 'alice', 'age': 20, 'department': 'it'},
 102: {'name': 'bob', 'age': 20, 'department': 'cs'},
 103: {'name': 'joe', 'age': 21, 'department': 'aids'}}

In [44]:
students[101]

{'name': 'alice', 'age': 20, 'department': 'it'}

In [53]:
 print("no of students",len(students))

no of students 3

In [61]:
marks = {"alice " : 77,"bob" : 89 ,"Charlie":67}
marks

{'alice ': 77, 'bob': 89, 'Charlie': 67}

#Assignment _day4

In [130]:
students = {
    "Amit": 85,
    "Neha": 92,
    "Rahul": 78,
    "Priya": 88,
    "Sonal": 90
}
students#1

{'Amit': 85, 'Neha': 92, 'Rahul': 78, 'Priya': 88, 'Sonal': 90}

In [131]:
print(students["Neha"])#2

92

In [132]:
students["Karan"] = 81

students #3

{'Amit': 85, 'Neha': 92, 'Rahul': 78, 'Priya': 88, 'Sonal': 90, 'Karan': 81}

In [133]:
students["Rahul"] = 56
students #4

{'Amit': 85, 'Neha': 92, 'Rahul': 56, 'Priya': 88, 'Sonal': 90, 'Karan': 81}

In [134]:
del students["Amit"]
students #5

{'Neha': 92, 'Rahul': 56, 'Priya': 88, 'Sonal': 90, 'Karan': 81}

In [135]:
print(students.keys()) #6

dict_keys(['Neha', 'Rahul', 'Priya', 'Sonal', 'Karan'])

In [136]:
print(students.values()) #7

dict_values([92, 56, 88, 90, 81])

In [137]:
print(students.items()) #8

dict_items([('Neha', 92), ('Rahul', 56), ('Priya', 88), ('Sonal', 90), ('Karan', 81)])

In [138]:
print("Priya" in students) #9

True

In [139]:
print(90 in students.values()) #10

True

In [140]:
print(students.get("Sonal"))#11

90

In [141]:
employees = {
    "Ravi": "HR",
    "Anita": "IT",
    "Vikram": "Finance",
    "Pooja": "Marketing"
}

employees#12

{'Ravi': 'HR', 'Anita': 'IT', 'Vikram': 'Finance', 'Pooja': 'Marketing'}

In [142]:
print(employees["Anita"])#13

IT

In [143]:
employees["Suresh"] = "IT"#14
employees

{'Ravi': 'HR',
 'Anita': 'IT',
 'Vikram': 'Finance',
 'Pooja': 'Marketing',
 'Suresh': 'IT'}

In [144]:
employees["Ravi"] = "Admin"#15
employees

{'Ravi': 'Admin',
 'Anita': 'IT',
 'Vikram': 'Finance',
 'Pooja': 'Marketing',
 'Suresh': 'IT'}

In [145]:
del employees["Vikram"]
employees#16

{'Ravi': 'Admin', 'Anita': 'IT', 'Pooja': 'Marketing', 'Suresh': 'IT'}

In [146]:
print(dict(sorted(employees.items())))#17

{'Anita': 'IT', 'Pooja': 'Marketing', 'Ravi': 'Admin', 'Suresh': 'IT'}

In [147]:
print(dict(sorted(employees.items(), key=lambda x: x[1])))#18

{'Ravi': 'Admin', 'Anita': 'IT', 'Suresh': 'IT', 'Pooja': 'Marketing'}

In [148]:
print(dict(sorted(employees.items(), reverse=True)))#19

{'Suresh': 'IT', 'Ravi': 'Admin', 'Pooja': 'Marketing', 'Anita': 'IT'}

In [149]:
print(dict(sorted(employees.items(), key=lambda x: x[1], reverse=True)))#20

{'Pooja': 'Marketing', 'Anita': 'IT', 'Suresh': 'IT', 'Ravi': 'Admin'}

In [150]:
value_to_find = "IT"
print([k for k, v in employees.items() if v == value_to_find])#21

['Anita', 'Suresh']

In [151]:
print(len([m for m in students.values() if m > 80]))#22

4

In [152]:
student_details = {
    "Aman": {"age": 20, "grade": "A", "dept": "CS"},
    "Riya": {"age": 21, "grade": "B", "dept": "IT"},
    "Kunal": {"age": 19, "grade": "A", "dept": "ENTC"}
}

student_details#23

{'Aman': {'age': 20, 'grade': 'A', 'dept': 'CS'},
 'Riya': {'age': 21, 'grade': 'B', 'dept': 'IT'},
 'Kunal': {'age': 19, 'grade': 'A', 'dept': 'ENTC'}}

In [153]:
print(student_details["Aman"]["grade"])#24

A

In [166]:
student_details["Riya"]["dept"] = "CS"
student_details#25

{'Aman': {'age': 20, 'grade': 'A', 'dept': 'CS'},
 'Riya': {'age': 21, 'grade': 'B', 'dept': 'CS'},
 'Kunal': {'age': 19, 'grade': 'A', 'dept': 'ENTC'}}

In [167]:
for name, info in student_details.items():
    print(name, info["grade"])
#26

Aman A
Riya B
Kunal A

In [161]:
more_students = {
    "Mehul": 75,
    "Tina": 89
}
more_students
merged_students = {**students, **more_students}
print(merged_students)#27

{'Neha': 92, 'Rahul': 56, 'Priya': 88, 'Sonal': 90, 'Karan': 81, 'Mehul': 75, 'Tina': 89}

In [168]:
more_students.clear()
print(more_students)#28

{}

In [169]:
copy_students = students.copy()
copy_students["Neha"] = 95
print(students)
print(copy_students)#29

{'Neha': 92, 'Rahul': 56, 'Priya': 88, 'Sonal': 90, 'Karan': 81}
{'Neha': 95, 'Rahul': 56, 'Priya': 88, 'Sonal': 90, 'Karan': 81}

In [159]:
squares = {i: i*i for i in range(1, 6)}
print(squares)#30

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}