In [38]:
# Creating a set with integer elements
numbers = {1, 2, 3, 4, 5}
numbers

{1, 2, 3, 4, 5}

In [39]:
# Creating a set using set() constructor
letters = set(["a", "b", "c"])
letters

{'a', 'b', 'c'}

In [40]:
# Creating an empty set ({} creates a dictionary)
empty_set = set()
empty_set

set()

In [41]:
# Duplicate elements are automatically removed in a set
dup = {1, 2, 2, 3, 3, 4}
dup

{1, 2, 3, 4}

In [42]:
# Checking whether an element exists in the set
3 in numbers

True

In [43]:
# Finding number of elements in the set
len(numbers)

5

In [44]:
# Adding a single element to the set
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

In [45]:
# Adding multiple elements to the set
numbers.update([7, 8, 9])
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
# Removing a specific element (throws error if not found)
numbers.remove(9)
numbers

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
# Removing an element without error if element does not exist
numbers.discard(10)
numbers

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
# Removing and returning a random element from the set
numbers.pop()
numbers

{2, 3, 4, 5, 6, 7, 8}

In [49]:
# Removing all elements from the set
temp = {1, 2, 3}
temp.clear()
temp

set()

In [50]:
# Union of two sets (all unique elements)
a = {1, 2, 3}
b = {3, 4, 5}
a.union(b)

{1, 2, 3, 4, 5}

In [51]:
# Intersection of two sets (common elements)
a.intersection(b)

{3}

In [52]:
# Elements present in set a but not in set b
a.difference(b)

{1, 2}

In [53]:
# Elements present in either set but not in both
a.symmetric_difference(b)

{1, 2, 4, 5}

In [54]:
# Union using operator
a | b

{1, 2, 3, 4, 5}

In [55]:
# Intersection using operator
a & b

{3}

In [56]:
# Difference using operator
a - b

{1, 2}

In [57]:
# Symmetric difference using operator
a ^ b

{1, 2, 4, 5}

In [58]:
# Checking whether all elements of c are in a
c = {1, 2}
c.issubset(a)

True

In [59]:
# Checking whether set a contains all elements of c
a.issuperset(c)

True

In [60]:
# Checking whether two sets have no common elements
x = {10, 11}
a.isdisjoint(x)

True

In [61]:
# Creating a shallow copy of a set
copy_set = a.copy()
copy_set

{1, 2, 3}

In [62]:
# Creating an immutable set (cannot be modified)
fs = frozenset([1, 2, 3])
fs

frozenset({1, 2, 3})

In [79]:
#Returns True if at least one element in the set evaluates to True.
s = {0, 0, 1}
any(s)

True

In [80]:
#Returns True if all elements in the set evaluate to True.
all(s)

False

In [84]:
#to find the minimum element  of the set
marks = {78, 85, 92}
min(marks)

78

In [83]:
# to find the maximum of the element
max(marks)

92

In [63]:
# Creating a set of squares using set comprehension
squares = {x * x for x in range(1, 6)}
squares

{1, 4, 9, 16, 25}

In [64]:
# Creating set of squares of even numbers only
even_squares = {x * x for x in range(1, 11) if x % 2 == 0}
even_squares

{4, 16, 36, 64, 100}

In [65]:
# Students enrolled in Python and Java courses
python_students = {"Aman", "Riya", "Kunal", "Neha"}
java_students = {"Riya", "Neha", "Arjun", "Sonal"}

In [66]:
# Students enrolled in both Python and Java
python_students & java_students

{'Neha', 'Riya'}

In [67]:
# Students enrolled in at least one course
python_students | java_students

{'Aman', 'Arjun', 'Kunal', 'Neha', 'Riya', 'Sonal'}

In [68]:
# Students enrolled only in Python
python_students - java_students

{'Aman', 'Kunal'}

In [69]:
# Students enrolled only in Java
java_students - python_students

{'Arjun', 'Sonal'}

In [70]:
# Students enrolled in exactly one course
python_students ^ java_students

{'Aman', 'Arjun', 'Kunal', 'Sonal'}

In [71]:
# Checking if all Python students are also Java students
python_students.issubset(java_students)

False

In [72]:
# Adding a new student to Python course
python_students.add("Mehul")
python_students

{'Aman', 'Kunal', 'Mehul', 'Neha', 'Riya'}

In [73]:
# Removing a student who dropped the Java course
java_students.remove("Arjun")
java_students

{'Neha', 'Riya', 'Sonal'}

In [74]:
# Final enrollment summary using sets
{
    "Python": python_students,
    "Java": java_students,
    "Both": python_students & java_students,
    "Total Unique Students": python_students | java_students
}

{'Python': {'Aman', 'Kunal', 'Mehul', 'Neha', 'Riya'},
 'Java': {'Neha', 'Riya', 'Sonal'},
 'Both': {'Neha', 'Riya'},
 'Total Unique Students': {'Aman', 'Kunal', 'Mehul', 'Neha', 'Riya', 'Sonal'}}