In [2]:
import pandas as pd

s = pd.Series([10, 20, 30, 40, 50], index=["a", "b", "c", "d", "e"])
print(s)
print(type(s))

a    10
b    20
c    30
d    40
e    50
dtype: int64
<class 'pandas.core.series.Series'>

In [13]:
df = pd.DataFrame({
    "Student_Name": ["Aman", "Riya", "Karan", "Sneha", "Vijay"],
    "Maths": [70, 85, 90, 65, 88],
    "Science": [72, 88, 91, 68, 90],
    "English": [75, 80, 78, 70, 85]
})

print(df.head(3))
df

  Student_Name  Maths  Science  English
0         Aman     70       72       75
1         Riya     85       88       80
2        Karan     90       91       78

  Student_Name  Maths  Science  English
0         Aman     70       72       75
1         Riya     85       88       80
2        Karan     90       91       78
3        Sneha     65       68       70
4        Vijay     88       90       85

In [4]:
df.to_csv("students.csv", index=False)

df2 = pd.read_csv("students.csv")
print(df2.shape)
print(df2.columns)

(5, 4)
Index(['Student_Name', 'Maths', 'Science', 'English'], dtype='object')

In [5]:
df["Total_Marks"] = df["Maths"] + df["Science"] + df["English"]
df["Average"] = df["Total_Marks"] / 3
print(df)

  Student_Name  Maths  Science  English  Total_Marks    Average
0         Aman     70       72       75          217  72.333333
1         Riya     85       88       80          253  84.333333
2        Karan     90       91       78          259  86.333333
3        Sneha     65       68       70          203  67.666667
4        Vijay     88       90       85          263  87.666667

In [6]:
import numpy as np

df.loc[1, "Science"] = np.nan

print(df.isnull())

df["Science"] = df["Science"].fillna(df["Science"].mean())
print(df)

   Student_Name  Maths  Science  English  Total_Marks  Average
0         False  False    False    False        False    False
1         False  False     True    False        False    False
2         False  False    False    False        False    False
3         False  False    False    False        False    False
4         False  False    False    False        False    False
  Student_Name  Maths  Science  English  Total_Marks    Average
0         Aman     70    72.00       75          217  72.333333
1         Riya     85    80.25       80          253  84.333333
2        Karan     90    91.00       78          259  86.333333
3        Sneha     65    68.00       70          203  67.666667
4        Vijay     88    90.00       85          263  87.666667

In [7]:
print(df[df["Average"] > 75])

  Student_Name  Maths  Science  English  Total_Marks    Average
1         Riya     85    80.25       80          253  84.333333
2        Karan     90    91.00       78          259  86.333333
4        Vijay     88    90.00       85          263  87.666667

In [8]:
print(df.sort_values("Total_Marks", ascending=False).head(3))

  Student_Name  Maths  Science  English  Total_Marks    Average
4        Vijay     88    90.00       85          263  87.666667
2        Karan     90    91.00       78          259  86.333333
1         Riya     85    80.25       80          253  84.333333

In [9]:
df["English_Group"] = ["Above 70", "Above 70", "Above 70", "Below 70", "Above 70"]

print(df.groupby("English_Group")[["Maths", "Science"]].mean())

               Maths  Science
English_Group
Above 70       83.25  83.3125
Below 70       65.00  68.0000

In [10]:
df_marks = df[["Student_Name", "Total_Marks"]]

df_sports = pd.DataFrame({
    "Student_Name": ["Aman", "Riya", "Karan", "Sneha", "Vijay"],
    "Sports_Score": [20, 18, 22, 15, 25]
})

final_df = pd.merge(df_marks, df_sports, on="Student_Name")
final_df["Overall_Score"] = final_df["Total_Marks"] + final_df["Sports_Score"]

print(final_df)

  Student_Name  Total_Marks  Sports_Score  Overall_Score
0         Aman          217            20            237
1         Riya          253            18            271
2        Karan          259            22            281
3        Sneha          203            15            218
4        Vijay          263            25            288

In [12]:
final_df.to_csv("final_student_scores.csv", index=False)
print(" DATA SAVED SUCCESSFULY")

 DATA SAVED SUCCESSFULY