In [32]:
#Assignment

In [33]:
# 1
def show_value():
    x = 10
    print(x)

show_value()

10

In [34]:
# 2
def calculate_total():
    global total
    subtotal = 2420
    tax = 121.0
    discount = 242.0
    total = subtotal + tax - discount

calculate_total()
print(total)

2299.0

In [35]:
# 3
count = 0

def inc():
    global count
    count += 1

def dec():
    global count
    count -= 1

inc()
inc()
dec()
print(count)

1

In [36]:
# 4
total_sales = 0

def day1(a):
    global total_sales
    total_sales += a

def day2(a):
    global total_sales
    total_sales += a

day1(500)
day2(700)
print(total_sales)

1200

In [37]:
# 5
def outer():
    x = 5
    def inner():
        print(x)
    inner()

outer()

5

In [38]:
# 6
def outer():
    x = 10
    def inner():
        nonlocal x
        x += 5
    inner()
    print(x)

outer()

15

In [39]:
# 7
g = "G"

def outer():
    e = "E"
    def mid():
        l = "L"
        print(g, e, l)
    mid()

outer()

G E L

In [40]:
# 8
x = 100

def show():
    x = 50
    print(x)

show()
print(x)

50
100

In [42]:
# 9
x = "G"

def outer():
    x = "E"
    def inner():
        x = "L"
        print(x)
    inner()

outer()

L

In [43]:
# 10
def test():
    a = 10
    print(a)

test()

10

In [44]:
# 11
def outer(a):
    def inner(b):
        print(a, b)
    inner(20)

outer(10)

10 20

In [45]:
# 12
def marks(m1, m2, m3):
    def total():
        return m1 + m2 + m3
    print(total())

marks(70, 80, 90)

240

In [46]:
# 13
def counter():
    c = 0
    def inc():
        nonlocal c
        c += 1
        return c
    return inc

x = counter()
print(x())
print(x())

1
2

In [47]:
# 14
def multiplier(n):
    def mul(x):
        return x * n
    return mul

m = multiplier(2)
print(m(5))

10

In [48]:
# 15
def total(*a):
    print(sum(a))

total(1, 2, 3, 4)

10

In [49]:
# 16
def maximum(*a):
    print(max(a))

maximum(10, 20, 5, 30)

30

In [50]:
# 17
def student(**d):
    print(d)

student(name="A", age=20, grade="A")

{'name': 'A', 'age': 20, 'grade': 'A'}

In [51]:
# 18
def employee(**d):
    print(d)

employee(name="J", department="IT", salary=50000)

{'name': 'J', 'department': 'IT', 'salary': 50000}

In [52]:
# 19
def details(*a, **k):
    print(a)
    print(k)

details(1, 2, name="S", age=25)

(1, 2)
{'name': 'S', 'age': 25}

In [53]:
# 20
def avg(*a):
    print(sum(a)/len(a))

avg(100, 200, 300)

200.0

In [54]:
# 21
def model(**k):
    print(k)

model(learning_rate=0.01, epochs=50)

{'learning_rate': 0.01, 'epochs': 50}

In [55]:
# 22
def outer():
    def inner(*a):
        print(sum(a))
    inner(1, 2, 3)

outer()

6

In [24]:
# 23
def emp(name, salary):
    def bonus():
        return salary * 0.1
    print(bonus())

emp("R", 40000)

4000.0

In [25]:
# 24
def counter():
    c = 0
    def call():
        nonlocal c
        c += 1
        print(c)
    return call

x = counter()
x()
x()

1
2

In [26]:
# 25
x = "G"

def show():
    x = "L"
    print(x)

show()
print(x)

L
G

In [27]:
# 26
def expense():
    t = 0
    def add(a):
        nonlocal t
        t += a
        return t
    return add

e = expense()
print(e(100))
print(e(200))

100
300

In [28]:
# 27
def concat(*a):
    print("".join(a))

concat("Hello", "World")

HelloWorld

In [29]:
# 28
def config(**k):
    print(k)

config(OS="Windows", RAM="16GB")

{'OS': 'Windows', 'RAM': '16GB'}

In [30]:
# 29
def order(*i, **p):
    print(i)
    print(p)

order("Pen", "Book", Pen=10, Book=50)

('Pen', 'Book')
{'Pen': 10, 'Book': 50}

In [31]:
# 30
def salary(base):
    t = base
    def add(a):
        nonlocal t
        t += a
        return t
    return add

s = salary(30000)
print(s(5000))
print(s(2000))

35000
37000